html
{
  height: 99%;
}
                         
body
{
  background: #f7f3e8 ;
  height: 99%;
  margin: 0;
  padding: 0;
  line-height: 150%;
  text-align: left;
}

*
{
  font-size: 8pt; 
  font-family:Segoe UI Semilight, Helvetica Neue Light, Helvetica, Calibri, Arial;
  color: #000000;
  text-align: left;
}
/* === Containers === */
#topBar
{
  position: absolute;
  width: 100%;
  height: 6px;
  margin-top: 40px;
  background-color: #a03551;
}

.link,.linkActive
{
width:93px;
margin-right:10px;
float: left;
margin-top:24px;
text-align:center;
font-family:Segoe UI Semilight, Helvetica Neue Light, Helvetica, Calibri, Arial;
background-image:url(tab.png);
position:relative;
}

.link:hover
{
background-image:url(tab2.png);
}

.linked
{
width:93px;
margin-right:10px;
float: left;
margin-top:24px;
text-align:center;
font-family:Segoe UI Semilight, Helvetica Neue Light, Helvetica, Calibri, Arial;
color: #f7f3e8;
font-size:15px;
font-weight: bold;
background-image:url(tab2.png);
position:relative;
}

a
{
text-decoration: none;
font-family:Segoe UI Semilight, Helvetica Neue Light, Helvetica, Calibri, Arial;
color: #f7f3e8;
font-size:15px;
font-weight: bold;
}

#footer
{
position: fixed;
font-family:Segoe UI Semilight, Helvetica Neue Light, Helvetica, Calibri, Arial;
width:100%;
height:30px;
background-color:#4c4c4c;
color:#f7f3e8;
bottom: 0px;
text-align: center;
padding-top: 17px;
}

#footer a
{
font-family:Segoe UI Semilight, Helvetica Neue Light, Helvetica, Calibri, Arial;
font-size:9px;
color:#f7f3e8;
}

#extra
{
position: fixed;
width:100%;
height:8px;
background-color:#a03551;
bottom: 46px;
}
/*normal text right aligned*/
p 
{
font-family:Segoe UI Semilight, Helvetica Neue Light, Helvetica, Calibri, Arial;
color:#4c4c4c;
font-size:16px;
margin-left:15px;
margin-right:15px;
text-align:right;
font-weight:100;
}

/*overall title page*/
span.overalltitle
{
  font-family:Segoe UI Semilight, Helvetica Neue Light, Helvetica, Calibri, Arial;
  color:#4c4c4c;
  font-size:70px;
  font-weight:bold;
  margin-left:15px;
}
/*my name*/
.name
{
  display:block;
  font-family:Segoe UI Semilight, Helvetica Neue Light, Helvetica, Calibri, Arial;
  color:#000000;
  font-size:36px;
  font-weight:100;
  margin-right:15px;
  text-align:right;
}
/*subtitles*/
span.subtitles
{
font-family:Segoe UI Semilight, Helvetica Neue Light, Helvetica, Calibri, Arial;
color:#000000;
font-size:20px;
font-weight:bold;
margin-left:15px;
margin-right:15px;
text-align:left;
}
/*sub sub titles*/
span.subsubtitles
{
font-family:Segoe UI Semilight, Helvetica Neue Light, Helvetica, Calibri, Arial;
color:#4c4c4c;
font-size:16px;
font-weight:bold;
text-align:left;
}
/*normal text left aligned*/
span.normaltext
{
font-family:Segoe UI Semilight, Helvetica Neue Light, Helvetica, Calibri, Arial;
color:#4c4c4c;
font-size:16px;
text-align:left;
font-weight:100;
}
/*dates*/
span.dates
{
font-family:Segoe UI Semilight, Helvetica Neue Light, Helvetica, Calibri, Arial;
color:#a03551;
font-size:12px;
text-align:left;
font-weight:bold;
}

hr{
  margin-left:15px;
  margin-right:15px;
}

table{
  margin-left:5px;
  margin-right:15px;
}

td{
  padding-left: 10px;
}
